* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #582be8 !important;
}

.NemwelLB {
  background-color: #fff;
  border-radius: 9px;
  margin: 7%;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #582be8;
  font-size: 35px;
  font-family: 'Mochiy Pop One', sans-serif;
  animation: bouge 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: 1;
  transform: translateX(0);
}

@keyframes bouge {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

h2 {
  color: #582be8;
  font-size: 30px;
}

.main {
  margin: 5% 8%;
  display: flex;
  gap: 50px;
}

.leftHeader {
  display: flex;
  margin-bottom: 40px;
}

.leftHeader h2 {
  margin-right: 17px;
}

button {
  outline: 0;
  border: 0;
  padding: 9px;
  background-color: #3cb17e;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 9px;
}

button:hover {
  border: 2px solid #3cb17e;
  background: #fff;
  color: #3cb17e;
  font-size: 17px;
}

.leftHeader i {
  margin-left: 10px;
}

.leftBody > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #582be8;
  border-bottom: 0;
}

.leftBody > div p {
  padding: 15px;
  color: #582be8;
  margin: 0 10px;
  font-size: 21px;
  font-weight: 700;
}

.leftBody ul {
  border: 1px solid #582be8;
  margin: 0;
  padding: 0;
}

.leftBody .leaders {
  height: 50%;
}

.leftBody ul li {
  width: 100%;
  list-style-type: none;
  height: 40px;
  margin: auto 0;
  padding: 15px 15px;
  border-bottom: 1px solid #582be8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftBody ul li span {
  padding: 15px;
}

.leftBody ul li .span {
  color: #582be8;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% { -webkit-transform: translateY(0); }
  40% { -webkit-transform: translateY(-30px); }
  60% { -webkit-transform: translateY(-15px); }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  60% { transform: translateY(-15px); }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.rightHeader {
  margin-bottom: 40px;
}

.rightBody form input {
  margin-bottom: 20px;
  outline: none;
  border: none;
  padding: 10px;
  border-bottom: 2px solid #582be8;
}

/* Desktop responsive */

@media screen and (max-width: 1024px) {
  .main {
    margin: 5% 5%;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 37px;
  }

  h2 {
    font-size: 27px;
  }

  p {
    font-size: 18px;
  }

  button {
    font-size: 16px;
  }

  i {
    font-size: 17px;
  }

  span {
    font-size: 17px;
  }

  .leftHeader h2 {
    margin-right: 8px;
    font-size: 22px;
  }

  .leftHeader h2 i {
    margin-left: 3px;
  }

  .leftHeader #refresh {
    padding: 6px;
    font-size: 16px;
  }

  .leftHeader #refresh i {
    font-size: 17px;
  }

  .leftBody {
    margin-bottom: 40px;
  }

  #form > input {
    width: 100%;
  }
}

/* Mobile responsive styles */

@media screen and (max-width: 692px) {
  .main {
    margin: 5% 3%;
    display: block;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }

  button {
    font-size: 16px;
  }

  i {
    font-size: 17px;
  }

  span {
    font-size: 17px;
  }

  .leftHeader h2 {
    margin-right: 8px;
  }

  .leftHeader h2 i {
    margin-left: 3px;
  }

  .leftHeader #refresh {
    padding: 6px;
    font-size: 16px;
  }

  .leftHeader #refresh i {
    font-size: 17px;
  }

  .leftBody {
    margin-bottom: 40px;
  }

  #form > input {
    width: 100%;
  }
}
